.user-button-options {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.user-button-options .button-option-edit {
  color: #e0b423;
  border: 2px solid #e0b423;
}

.user-button-options .button-option-password {
  color: #e6890f;
  border: 2px solid #e6890f;
}

.user-button-options .button-option-delete {
  color: #e43314;
  border: 2px solid #e43314;
}
