.scheduling-card {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;

  border: 3px solid var(--third-color);
  border-radius: 1rem;

  width: 80vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.scheduling-option {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
}

.scheduling-option p {
  margin-left: 1rem;
}

.scheduling-option-two {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border-bottom: 2px dashed var(--third-color);
}

.scheduling-element {
  display: flex;
  flex-direction: row;
}
